parameters:
	db:
		host: 127.0.0.1
		user: root
		pass:
		database: graph
		port: 3306

extensions:
	graphAdmin: Echo511\GraphADMIN\DI\GraphADMINExtension
	graphLeanMapper: Echo511\GraphADMIN\LeanMapper\DI\LeanMapperExtension

application:
	errorPresenter: Error
	mapping:
		*: Echo511\GraphADMIN\Presenters\*Presenter
	scanDirs: false

graphLeanMapper:
	host: %db.host%
	username: %db.user%
	password: %db.pass%
	database: %db.database%
	port: %db.port%

tracy:
	bar:
		- @neo4jPanel

services:
	router: Echo511\GraphADMIN\Route\RouterFactory::createRouter

	dumperMysqli: mysqli(%db.host%, %db.user%, %db.pass%, %db.database%, %db.port%)
	dumper: MySQLDump(@dumperMysqli)

	neo4jPanel:
		class: Echo511\GraphADMIN\Neo4j\Neo4jTracyPanel

	neo4jBuilder:
		class: GraphAware\Neo4j\Client\ClientBuilder
		setup:
			- addConnection('default', 'bolt://neo4j:password@127.0.0.1:7687')

	neo4jClient:
		class: GraphAware\Neo4j\Client\Client
		factory: @neo4jBuilder::build()
